<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Git Auth Setting</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="auth-type">
                <label class="custom-control custom-radio">
                    <input name="auth-type" type="radio" value="ssh" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">SSH</span>
                </label>
                <label class="custom-control custom-radio">
                    <input name="auth-type" type="radio" value="password" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Password</span>
                </label>
            </div>

            <div class="auth-body ssh">
                <div class="form-group row justify-content-center">
                    <div class="col-10">
                        <div class="input-group input-group-sm">
                            <input type="text" class="public-key form-control" placeholder="public key" readonly>
                            <span class="input-group-btn">
                                <button class="public-key btn btn-secondary" type="button">Change</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-10">
                        <div class="input-group input-group-sm">
                            <input type="text" class="private-key form-control" placeholder="private key" readonly>
                            <span class="input-group-btn">
                                <button class="private-key btn btn-secondary" type="button">Change</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="auth-body password">
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">Username:</label>
                    <div class="col-9">
                        <input class="username form-control form-control-sm" type="text">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">Password:</label>
                    <div class="col-9">
                        <input class="password form-control form-control-sm" type="password">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="save btn btn-primary">Save</button>
        </div>
    </div>
</div>