<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Save Note</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label for="modal-orphan-notebook-text-input" class="col-3 col-form-label">Notebook</label>
                <div class="col-9">
                    <input class="form-control" type="search" id="modal-orphan-notebook-text-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-3 col-form-label">Note</label>
                <div class="col-9">
                    <input class="form-control" type="text" id="modal-orphan-note-text-input">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>