@import "variables";

.reader {
    $outline-width: 230px;

    // prevent media query of bootstrap
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0;
    background-color: $color-reader-bg;

    font: {
        family: arial,sans-serif;
    }

    & > div {
        overflow: scroll !important;
        padding: 20px 30px;
        margin-top: $header-height;

        & > div {
            // TODO: should calculate this size dynamically
            // scroll beyond the bottom
            margin-bottom: 280px;
        }
    }

    .outline {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $outline-width;
        background-color: darken($color-reader-bg, 5%);
        overflow-x: hidden;
        display: none;
    }

    &.show-outline {
        padding-right: $outline-width;
        .outline {
            display: block;
        }
    }
}