<aside>
    <div class="back">
        <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </div>
    <nav class="nav flex-column">
        <a class="nav-link active" href="#">Settings</a>
    </nav>
</aside>

<div class="setting-container">
    <header>
        <h3>Settings</h3>
    </header>
    <section _data="noteDir">
        <h5 class="setting-title">Note Directory</h5>

        <div class="row">
            <div class="col-lg-7">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Note Directory" readonly>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Change</button>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section _data="debug">
        <h5 class="setting-title">Debug</h5>

        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="debug-switch" value="on"> On
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="debug-switch" value="off"> Off
            </label>
        </div>
    </section>
</div>